
<%- include('layouts/header_admin') %>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card shadow">
                    <div class="card-header bg-success">
                        <h5 class="text-light">Edit User (<%= ticket.kota  %>)</h5>
                    </div>
                    <div class="card-body p-4">
                        <form action="/update/<%= ticket._id %>" method="post" id="add-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="kota">Kota</label>
                                <input type="text" name="kota" class="form-control form-control-lg" placeholder="Masukkan kota" value="<%= ticket.kota %>" required/>
                            </div>
                            <div class="mb-3">
                                <label for="negara">Negara</label>
                                <input type="text" name="negara" class="form-control form-control-lg" placeholder="Masukkan negara" value="<%= ticket.negara %>" required/>
                            </div>
                            <div class="mb-3">
                                <label for="harga">Harga</label>
                                <input type="text" name="harga" class="form-control form-control-lg" placeholder="Masukkan harga" value="<%= ticket.harga%>" required/>
                            </div>
                            <div class="mb-3">
                                <label for="benua">Benua</label>
                                <select class="form-select" aria-label="Default select example" name="benua">
                                    <option value="" <% if (!ticket.benua) { %> selected <% } %>>Pilih Benua</option>
                                    <option value="Amerika" <% if (ticket.benua === 'Amerika') { %> selected <% } %>>Amerika</option>
                                    <option value="Asia" <% if (ticket.benua === 'Asia') { %> selected <% } %>>Asia</option>
                                    <option value="Australia" <% if (ticket.benua === 'Australia') { %> selected <% } %>>Australia</option>
                                    <option value="Eropa" <% if (ticket.benua === 'Eropa') { %> selected <% } %>>Eropa</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="image" class="form-label">Upload gambar</label>
                                <input type="file" name="image" class="form-control form-control-lg" required/>
                                <img src="/<%= ticket.image %>" width="100" class="img-thumbnail mt-1">
                            </div>
                            <input type="hidden" name="old_image" value="<% ticket.image %>"/>
                            <div class="mb-3 d-grid">
                                <input type="submit" name="submit" value="Update Ticket" class="btn btn-success btn-lg" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('layouts/footer_admin') %>
